.gora p
{
    display: inline-block;
    top: 68.75%;
    bottom: 12.5%;
    text-align: center;
    margin-right: 5%;
    

}
#home
{
    color: #C9A96E;
}
#slogan
{

    height: 32px;
    left: 0%;
    right: 1.56%;
    top: calc(50% - 32px/2);

    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 2.5px;

    color: #171717;
}
.sidebar
{
    position: absolute;
    width: 14%;
    height: 110%;
    left: 65%;
    top: 860px;
}
.jpggora
{
  
    background-image:url('góra.png');
    
    width: 100%;
    height: 700px;
    
}

.teskt3 h6
{
    color: white;
    margin-bottom: 40%;
}
.teskt3 p
{
    color: white;
    margin-top: 40%;
}

.insta h2
{
    text-align: center;
}
.fashiond
{
    width: 90%;
    height: 9%;
    left: 10%;
    top: 4313px; 
    padding: 1%;   
}
.fashiond h2 
{
    text-align: center;
}
.jpggora 
{
    background-image: url("góra.png");
    width: 100%;
    height: 700px;
}


.txt_f p 
{
    display: inline-table;
    text-align: center;
    height: 4%;
    width: 10%;
    left: 50%;
    right: 50%;
}
.Fp h5
{
    color:#C9A96E;
    text-align: center;
}
.Fp h3
{
    text-align: center;
}
.Fp p
{
    text-align: center;
}
.cat p 
{
    border-top: 2;
    border-right: 10;
    border-left: 1;
    border-bottom: 2;
    border-color: black;
}
.ata 
{
    text-align: center;
}
.ata a
{
    color: #C9A96E;
}
#color1
{
    color: #C9A96E;
    text-align: center;
}
#by
{
    text-align: center;
}
#color2
{
    color: #C9A96E;
}
#post2
{
    height: 63%;
    width: 63%;
}
#color3
{
    color: white;
    font-style: PT Serif;
  
}

